@charset "ISO-8859-1";

/* Général ------------------------------------------------------------------------------------- */

body {

}

h1 {
	/* Centrage horizontal */
	text-align : center;
	margin : auto;
	
	/* Centrage vertical */
	position : absolute;
	left : 50%;
	top : 50%;
	width : 200px;
	height : 200px;
	margin-left : -100px; /* Doit être égal à la moitié négative du width */
	margin-right : -100px; /* Doit être égal à la moitié négative du height */    
}

h2 {
	/* Centrage horizontal */
	text-align : center;
	margin : auto;
}

label {
	font-family : "Verdana", sans-serif;
	font-style : normal; 	
/* 	font-weight : bold; */
/* 	display : block; La balise devient de type block */
	width : 200px; 
/* 	float : left; */
}

/* Forms --------------------------------------------------------------------------------------- */

fieldset {
	position : absolute;
	margin : auto; 
	
	left : 40%;
	top : 10%;
	
	border-style : inset; 
}

.requis { 
	color : red;
}

/* Images et couleurs -------------------------------------------------------------------------- */


/* Tableaux ------------------------------------------------------------------------------------ */
